@import url('https://fonts.googleapis.com/css2?family=Signika:wght@200;500&family=Ubuntu:wght@400&family=Varela+Round&display=swap');
* {
    padding: 0;
    margin:0;
    outline: none;
}

html {
    scroll-behavior: smooth;
}

.intro {
    background-image: url('/static/images/intro.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.intro h2 {
    font-family: 'Signika',sans-serif;
    font-size: 3.5rem;
    color:#3f3d56;
}
.intro p {
    font-family: 'Signika',sans-serif;
    font-size: 1.5rem;
    color:#3f3d56;
    margin: 1rem;
}
.intro button {
    font-family: 'Signika',sans-serif;
    font-size: 2rem;
    /* color:#01b3f9; */
    color:#7d7d7d;
    width: 200px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    padding: 0 5px;
    outline: none;
    transition: all 0.3s ease;
    background-color: white;
}

.intro button:hover {
    box-shadow: 0px 2px 5px 3px #7d7d7dba;
}
.cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cards h2 {
    font-family: 'Signika',sans-serif;
    font-size: 2rem;
    color: #7d7d7d;
    margin:20px 0px;
}
.card-container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 2rem;
    margin: 2rem;

}
.card {
    width: 300px;
    height: 400px;
    border: 1px solid #cfcfcf;
    background-color: whitesmoke;
    border-radius: 20px;
    transition: all 0.3s ease;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.card:hover {
    box-shadow: 0px 2px 8px 1px #808080c9;
}

.cardHead h3{
    font-family: 'Signika',sans-serif;
    font-size: 2rem;
    color:#7d7d7d;
    text-align: center;
}
.cardContent {
    font-family: 'Ubuntu',sans-serif;
    font-size: 1.5rem;
    /* color: #01b3f9; */
    color:#7d7d7d;
    text-align: center;
}
.cardHead img {
    width: 200px;
}
.cardContent button {
    font-family: 'Ubuntu',sans-serif;
    font-size: 1.3rem;
    color: #01b3f9;
    border: 1px solid #cfcfcf;
    border-radius: 20px;
    padding: 5px 10px;
    background-color: white;
    outline: none;
    margin-top: 10px;
    box-shadow: 0px 1px 7px 0px #80808096;
    transition: all 0.3s ease;
    cursor: pointer;
}
.cardContent button:hover {
    background-color:#01b3f9;
    color: white;
    box-shadow: 0px 2px 7px 0px #80808096;
}

.cardHead hr {
    border: 1px solid #7d7d7d;
} 

.oppurtunties {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('/static/images/opportunities_Background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.oppurtuntiesHead h2 {
    font-family: 'Signika',sans-serif;
    font-size: 2rem;
    color: #7d7d7d;
    margin:20px 0px;
}

.oppurtuntiesContent {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 90%;
}
.oppurtuntiesContent ul {
    list-style: none;
    margin: 3rem 0;
}
.optList {
    background-color: #dfdede;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 30px;
    border: 2px solid white;
    padding: 5px;
    box-shadow: 1px 2px 4px 0px #808080b5;
    margin: 1rem 0;
}
.optList .circle {
    width: 3rem;
    height: 3rem;
    background: white;
    border-radius: 50%;
}
.optList .opt {
    padding: 5px;
    font-family: 'Ubuntu',sans-serif;
    color:#3f3d56;
    font-size: 1.1rem;
}

.aboutSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.aboutHead {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
}
.aboutHead img {
    width: 15rem;
}
.aboutHead h2 {
    font-family: 'Signika',sans-serif;
    font-size: 2rem;
    color: #7d7d7d;
    margin:20px 0px;
}

.aboutContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    margin: 1rem 0;
}
.aboutContent p {
    padding: 5px;
    font-family: 'Ubuntu',sans-serif;
    color:#3f3d56;
    font-size: 1.2rem;
}

.wait {
    display: flex;
    flex-direction: row;
    margin: 4rem 0;
    padding: 1rem;
    background-size: cover;
    background-position: center;
    background-image: url('/static/images/wait.png');
    border-radius: 150px;
    box-shadow: 0px 2px 4px 2px gainsboro;
}
.waitContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

.waitContent h3 {
    padding: 5px;
    font-family: 'Ubuntu',sans-serif;
    color: #01b3f9d6;
    font-size: 3rem;
}

.waitContent h3 span {
    color: #7c7c7c;
}

/* Clock css */
.clock{
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('/static/images/clock.png');
    background-size: cover;
    border: 4px solid #3f3d56;
    border-radius: 50%;
    box-shadow: 0 -15px 15px rgba(255, 255, 255, 0.05),
    inset 0 -15px 15px rgba(255, 255, 255, 0.05),
    0 15px 15px rgba(0, 0, 0, 0.03),
    inset 0 -15px 15px rgba(0, 0,0 , 0.03);   
}
.clock:before
{
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    background: #fff;
    border-radius: 50%;
    z-index: 10000;
    
}
.clock .hours,
.clock .min,
.clock .sec
{
    position: absolute;
}
.clock .hours, .hr{
    width: 160px;
    height: 160px;
}
.clock .min, .mn{
    width: 190px;
    height: 130px;
}
.clock .sec, .sc{
    width: 230px;
    height: 190px;
}
.hr ,.mn ,.sc{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    /* position: absolute; */
    border-radius: 50%;

}
.hr:before
{
    content: '';
    position: absolute;
    width: 8px;
    height: 80px;
    background: #ff105e;
    z-index: 10;
    border-radius: 6px 6px 0 0;
}
.mn:before
{
    content: '';
    position: absolute;
    width: 4px;
    height: 90px;
    background: #01b3f9d6;
    z-index: 11;
    border-radius: 6px 6px 0 0;
}
.sc:before
{
    content: '';
    position: absolute;
    width: 2px;
    height: 120px;
    background: #01b3f9d6;
    z-index: 12;
    border-radius: 6px 6px 0 0;
}

/* clock css last  */


.contactSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('/static/images/contactBackground.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.contactBox form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contactBox {
    width: 80%;
}
.upperSet {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.contactBox input {
    width: 50%;
    padding: 15px;
    margin: 3rem 1rem;
    border:1px solid #7c7c7c;
    border-radius: 20px;
}
.contactBox input:focus {
    border: 1px solid tomato;
}
.contactBox textarea:focus {
    border: 1px solid tomato;
}
.contactBox textarea {
    margin: 1rem;
    width: 96%;
    resize: none;
    padding: 10px;
    border:1px solid #7c7c7c;
    border-radius: 20px;
}

.buttonContact button {
    border:1px solid #7c7c7c;
    background-color: #fff;
    border-radius: 20px;
    width: 8rem;
    height: 3rem;
    font-family: 'Ubuntu',sans-serif;
    color: #01b3f9d6;
    font-size: 1.5rem;
    margin: 2rem;
    transition: all 0.3s ease;
}
.buttonContact button:hover {
    background-color: #01b3f9;
    color: white;
}

.contactBox h2 {
    font-family: 'Signika',sans-serif;
    font-size: 2rem;
    color: #7d7d7d;
    margin:20px 0px;
    text-align: center;
}


@media only screen and (max-width:1000px) {
    .intro {
        width: auto;
        color:white;
    }
    .intro h2 {
        font-size: 1.4rem;
        color:white;
    }
    .intro p {
        text-align: center;
        color:white;
    }
    .card-container {
        grid-template-columns: repeat(1,1fr);
    }
    .optList .opt {
        padding: 8px;
    }
    .optList .circle {
        display: none;
    }
    .oppurtuntiesContent ul {
        margin-top: 0;
    }
    .wait {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 0px;
    }
    .waitContent h3 {
        font-size: 2rem;
        text-align: center;
    }
    .upperSet{
        flex-direction: column;
    }
    .contactBox input {
        margin: 1rem 0rem;
        width: 90%;
    }
}