* {
    padding: 0;
    margin: 0;
}

.memberHead {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 10rem;
    font-size: 2rem;
    font-family: 'Signika',sans-serif;
    color: #7d7d7d;
    border: none;
    border-bottom: 2px dashed #7d7d7d70;
    margin-bottom: 20px;
}